{% extends "auctions/layout.html" %}

{% block body %}

    <div class="listing-container">
        <div class="row">
            <div class="col-4">
                <div class="listing-left-top">
                    <h1 clsas="display-4">{{ item_name }}</h1>
                    <form action="#" method="post">
                    {% csrf_token %}
                    {% if user != listing.seller %}
                        {% if user not in listing.watchers.all %}
                            <input class="add-to-watch" type="submit" name="start_watching" value="Add to Watchlist">
                        {% else%}
                            <input class="remove-from-watch" type="submit" name="stop_watching" value="Remove from Watchlist">
                        {% endif %}
                    {% endif %}
                    </form>
                </div>
                <p><img src="{{ photo.url }}" width="420px" height="420px"></p>
            </div>
            <div class="col-5">
                <div class="listing-mid-top">
                    <h1 clsas="display-4">
                        {% if current_bid %}
                            Current bid: {{ current_bid }} AUD
                        {% else %}
                            Current bid: {{ starting_bid }} AUD
                        {% endif %}
                    </h1>
                    <div class="row">
                        <div class="form-group col-md-5">
                            <form action="#" method="post" style="display: flex;">
                                {% csrf_token %}
                                {{ bid_form }}
                                <input class="place-bid" type=submit value="Place bid">
                            </form>
                        </div>
                    </div>
                </div>
                <h4 style="margin-top: 15px;">Description:</h4>
                <div style="width:300px; height:200px">
                    <p>{{ description }}</p>
                </div>
                <h4>Details:</h4>
                <ul>
                    <li>Category: {{ category }}</li>
                    <li>Seller: {{ seller }}</li>
                    <li>Ends at: {{ deadline }}</li>
                </ul>
            </div>
            <div class="col-3">
                <h4>Comments</h4>
                <div>
                    <ol>
                        {% for comment in comments %}
                            <li>
                                {{ comment.title }}
                                {{ comment.content }}
                            </li>
                        {% endfor %}
                    </ol>
                </div>
                <div class="row">
                    <div class="form-group col-md-12" style="Overflow :auto">
                        <form action="#" method="post">
                            {% csrf_token %}
                            {{ comment_form.as_p }}
                            <input class="add-comment" type=submit name="comment" value="Add comment">
                        </form>
                    </div>
                </div>

            </div>
        </div>



{% endblock %}